# Back-end
laravel/.env
laravel/.env.backup
laravel/.env.phpunit
laravel/.env.production
laravel/.phpunit.result.cache
laravel/Homestead.json
laravel/Homestead.yaml
laravel/auth.json
laravel/mix-manifest.json
laravel/phpunit.xml
laravel/public/build
laravel/public/hot
laravel/public/storage
laravel/storage/*.key
laravel/storage/debugbar/
laravel/storage/framework/cache/data/*
laravel/storage/framework/sessions/*
laravel/storage/framework/testing/*
laravel/storage/framework/views/*
laravel/storage/logs/*
!laravel/storage/logs/.gitignore
laravel/vendor/

# Front-end
next/*.tsbuildinfo
next/.env
next/.env*.local
next/.next/
next/.vercel/
next/build/
next/coverage/
next/next-env.d.ts
next/out/

# Misc
*.bak
*.log
*.old
*.swo
*.swp
*.tmp
*~
**/node_modules/
.DS_Store
.idea/
.vscode/
Thumbs.db
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
