.DS_Store
.idea/
.vscode/
Thumbs.db
laravel/.env
laravel/.env.backup
laravel/.env.production
laravel/.phpunit.result.cache
laravel/Homestead.json
laravel/Homestead.yaml
laravel/auth.json
laravel/node_modules/
laravel/npm-debug.log
laravel/public/hot
laravel/public/storage
laravel/storage/*.key
laravel/storage/debugbar/
laravel/storage/framework/cache/data/*
laravel/storage/framework/sessions/*
laravel/storage/framework/testing/*
laravel/storage/framework/views/*
laravel/storage/logs/*.log
laravel/vendor/
laravel/yarn-error.log
